# General / OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.tmp

# Flutter & Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/.packages
**/doc/api/

# Android
**/.gradle/
**/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/**/build/
**/captures/
*.apk
*.aab

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/

# IDE & Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/

# .NET / C#
**/bin/
**/obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
_ReSharper*/

# Temporary / Scratch scripts
*.py
